/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb. 25, 2019, 7:31:35 p.m.
    Author     : Chiruno
*/


html {
    background-image: linear-gradient(white 30%, khaki);
    height: 100%;
    
}

body {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 200px;
}

button {
    color: black;
    background-color: white;
    font-size: 22px;
    border: none;
}


#score {
    font-size: 15px;
}

#main {
    width: 1563px;
    text-align: left;
    position: relative;
    padding: 10px;
    background-color: sandybrown;
    border-style: double;  
    right: 28px;
    height: 300px;
    opacity: 0.75;
    border-right-style: hidden;
    border-left-style: hidden;
}

#round{
    text-align: center;
}

 

.questions button{
    height: 50px;
    width: 85px;
    border-radius: 8px;
    transition-duration: 800ms;
} 

.questions button:hover {
  background-color: lightgray;
  color: black;
}

#buttonLeft{
    margin-right:25px
}

#buttonMid{
    
}

#buttonRight{
    margin-left:25px
}